<div class="container">
    <div class="jumbotron mb-2">
      <div class="text-center">
      <h2 class="display-3">Lista de Países</h2>
      </div>
    </div>
    <button (click)="add()" type="button" class="btn btn-outline-primary">+ Adicionar Novo Pais</button>
    <div class="table-responsive">
    <table class="table table-hover ">
      <thead>
        <tr>
         
          <th scope="row" sortable="id">ID</th>
          <th scope="row" sortable="name">Nome</th>
          <th scope="row" sortable="capital">Capital</th>
          <th scope="row" sortable="region">Região</th>
          <th scope="row" sortable="subRegion">Sub-Região</th>
          <th scope="row" sortable="area">Área</th>
          <th scope="row" ></th>
          <th scope="row" ></th>


        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let c of listCountries">
          <tr>
           

            <td>{{ c.id }}</td>
            <td>{{ c.name | titlecase }}</td>
            <td>{{ c.capital | titlecase }}</td>
            <td>{{ c.region | titlecase }}</td>
            <td>{{ c.subRegion | titlecase }}</td>
            <td>{{ c.area }}  km2</td>
            <td>
              
           
              <button (click)="edit(c.id)" type="button" class="btn btn-outline-primary">Editar</button>
            </td>
            <td>
              <button (click)="remove(c.id)" type="button" class="btn btn-outline-danger">Remover</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    </div>
  </div>
  
